.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #303030;

    a {
        color: #fff;
        text-decoration: none;
    }
    .container-navbar,
    .navlinks {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 70%;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        list-style: none;

        a {
            display: inline-block;
        }
        span {
            color: #aeaeae;
        }
    }
}